CREATE DEFINER=`root`@`%` PROCEDURE `SpMasterDoctor`(

    IN p_Opt                VARCHAR(10),

    IN p_DoctorId           INT,

    

    IN p_DoctorName         VARCHAR(255),

    IN p_Gender             VARCHAR(20),

    IN p_DateOfBirth        DATE,

    IN p_Mobile             VARCHAR(20),

    IN p_AlternateMobile    VARCHAR(20),

    IN p_Email              VARCHAR(255),

    IN p_Address1           VARCHAR(500),

    IN p_Address2           VARCHAR(500),

    IN p_City               VARCHAR(100),

    IN p_State              VARCHAR(100),

    IN p_Country            VARCHAR(100),

    IN p_PostalCode         VARCHAR(20),

    

    IN p_Qualification      VARCHAR(255),

    IN p_Specialization     VARCHAR(255),

    IN p_HospitalName       VARCHAR(255),

    IN p_BranchName         VARCHAR(255),

    IN p_DepartmentName     VARCHAR(255),

    IN p_Designation        VARCHAR(100),

    IN p_Experience         INT,

    IN p_Languages          VARCHAR(500),

    IN p_JoiningDate        DATE,

    

    IN p_ConsultationFee    DECIMAL(10,2),

    IN p_FollowUpFee        DECIMAL(10,2),

    IN p_EmergencyFee       DECIMAL(10,2),

    IN p_TeleConsultationFee DECIMAL(10,2),

    IN p_OpDuration         SMALLINT,

    IN p_MaxPatients        SMALLINT,

    IN p_AllowOnlineBooking TINYINT(1),

    

    IN p_AvailableDays      VARCHAR(100),

    IN p_FromTime           TIME,

    IN p_ToTime             TIME,

    IN p_BreakFrom          TIME,

    IN p_BreakTo            TIME,

    IN p_SlotDuration       SMALLINT,

    IN p_AvailableEmergency TINYINT(1),

    IN p_AvailableTele      TINYINT(1),

    

    IN p_DoctorPhoto             VARCHAR(500),

    IN p_SignatureImage          VARCHAR(500),

    IN p_DigitalSignature        VARCHAR(500),

    IN p_RegistrationCertificate VARCHAR(500),

    

    IN p_Status             VARCHAR(20),

    IN p_Remarks            TEXT,

    IN p_CreatedBy          VARCHAR(100),

    IN p_ModifiedBy         VARCHAR(100),

    

    IN p_Search             VARCHAR(255)

)
BEGIN

    DECLARE v_DoctorCode VARCHAR(20);

    DECLARE v_NextId INT;

    DECLARE v_DoctorId INT;



    IF p_Opt = 'GET' THEN

        SELECT 

            m.DoctorId, m.DoctorCode, m.DoctorName, m.Gender, m.DateOfBirth,

            m.Mobile, m.AlternateMobile, m.Email, m.Address1, m.Address2, m.City, m.State, m.Country, m.PostalCode,

            m.Status, m.Remarks, m.CreatedDate, m.CreatedBy, m.ModifiedDate, m.ModifiedBy,

            p.Qualification, p.Specialization, p.HospitalName, p.BranchName, p.DepartmentName, p.Designation,

            p.Experience, p.Languages, p.JoiningDate,

            c.ConsultationFee, c.FollowUpFee, c.EmergencyFee, c.TeleConsultationFee, c.OpDuration, c.MaxPatients, c.AllowOnlineBooking,

            s.AvailableDays, s.FromTime, s.ToTime, s.BreakFrom, s.BreakTo, s.SlotDuration, s.AvailableEmergency, s.AvailableTele,

            d.DoctorPhoto, d.SignatureImage, d.DigitalSignature, d.RegistrationCertificate

        FROM Master_Doctor_Header m

        LEFT JOIN Master_DoctorProfessional_Detail p ON m.DoctorId = p.DoctorId

        LEFT JOIN Master_DoctorConsultation_Detail c ON m.DoctorId = c.DoctorId

        LEFT JOIN Master_DoctorSchedule_Detail s ON m.DoctorId = s.DoctorId

        LEFT JOIN Master_DoctorDocument_Detail d ON m.DoctorId = d.DoctorId

        WHERE m.IsDeleted = 0

          AND (

              p_Search IS NULL OR p_Search = '' 

              OR m.DoctorCode LIKE CONCAT('%', p_Search, '%')

              OR m.DoctorName LIKE CONCAT('%', p_Search, '%')

              OR m.Mobile LIKE CONCAT('%', p_Search, '%')

              OR p.Specialization LIKE CONCAT('%', p_Search, '%')

              OR p.DepartmentName LIKE CONCAT('%', p_Search, '%')

          )

        ORDER BY m.DoctorId DESC;



    ELSEIF p_Opt = 'GETBYID' THEN

        SELECT 

            m.DoctorId, m.DoctorCode, m.DoctorName, m.Gender, m.DateOfBirth,

            m.Mobile, m.AlternateMobile, m.Email, m.Address1, m.Address2, m.City, m.State, m.Country, m.PostalCode,

            m.Status, m.Remarks, m.CreatedDate, m.CreatedBy, m.ModifiedDate, m.ModifiedBy,

            p.Qualification, p.Specialization, p.HospitalName, p.BranchName, p.DepartmentName, p.Designation,

            p.Experience, p.Languages, p.JoiningDate,

            c.ConsultationFee, c.FollowUpFee, c.EmergencyFee, c.TeleConsultationFee, c.OpDuration, c.MaxPatients, c.AllowOnlineBooking,

            s.AvailableDays, s.FromTime, s.ToTime, s.BreakFrom, s.BreakTo, s.SlotDuration, s.AvailableEmergency, s.AvailableTele,

            d.DoctorPhoto, d.SignatureImage, d.DigitalSignature, d.RegistrationCertificate

        FROM Master_Doctor_Header m

        LEFT JOIN Master_DoctorProfessional_Detail p ON m.DoctorId = p.DoctorId

        LEFT JOIN Master_DoctorConsultation_Detail c ON m.DoctorId = c.DoctorId

        LEFT JOIN Master_DoctorSchedule_Detail s ON m.DoctorId = s.DoctorId

        LEFT JOIN Master_DoctorDocument_Detail d ON m.DoctorId = d.DoctorId

        WHERE m.DoctorId = p_DoctorId

          AND m.IsDeleted = 0;



    ELSEIF p_Opt = 'INSERT' THEN

        SELECT COALESCE(MAX(DoctorId), 0) + 1 INTO v_NextId FROM Master_Doctor_Header;

        SET v_DoctorCode = CONCAT('DOC-', LPAD(v_NextId, 3, '0'));



        START TRANSACTION;



        INSERT INTO Master_Doctor_Header (

            DoctorCode, DoctorName, Gender, DateOfBirth, Mobile, AlternateMobile, Email,

            Address1, Address2, City, State, Country, PostalCode, Status, Remarks, CreatedDate, CreatedBy, IsDeleted

        ) VALUES (

            v_DoctorCode, p_DoctorName, p_Gender, p_DateOfBirth, p_Mobile, p_AlternateMobile, p_Email,

            p_Address1, p_Address2, p_City, p_State, p_Country, p_PostalCode, p_Status, p_Remarks, CURRENT_TIMESTAMP, p_CreatedBy, 0

        );

        

        SET v_DoctorId = LAST_INSERT_ID();



        INSERT INTO Master_DoctorProfessional_Detail (

            DoctorId, Qualification, Specialization, HospitalName, BranchName, DepartmentName, Designation,

            Experience, Languages, JoiningDate

        ) VALUES (

            v_DoctorId, p_Qualification, p_Specialization, p_HospitalName, p_BranchName, p_DepartmentName, p_Designation,

            p_Experience, p_Languages, p_JoiningDate

        );



        INSERT INTO Master_DoctorConsultation_Detail (

            DoctorId, ConsultationFee, FollowUpFee, EmergencyFee, TeleConsultationFee, OpDuration, MaxPatients, AllowOnlineBooking

        ) VALUES (

            v_DoctorId, p_ConsultationFee, p_FollowUpFee, p_EmergencyFee, p_TeleConsultationFee, p_OpDuration, p_MaxPatients, p_AllowOnlineBooking

        );



        INSERT INTO Master_DoctorSchedule_Detail (

            DoctorId, AvailableDays, FromTime, ToTime, BreakFrom, BreakTo, SlotDuration, AvailableEmergency, AvailableTele

        ) VALUES (

            v_DoctorId, p_AvailableDays, p_FromTime, p_ToTime, p_BreakFrom, p_BreakTo, p_SlotDuration, p_AvailableEmergency, p_AvailableTele

        );



        INSERT INTO Master_DoctorDocument_Detail (

            DoctorId, DoctorPhoto, SignatureImage, DigitalSignature, RegistrationCertificate

        ) VALUES (

            v_DoctorId, p_DoctorPhoto, p_SignatureImage, p_DigitalSignature, p_RegistrationCertificate

        );



        COMMIT;



        SELECT v_DoctorId AS DoctorId, v_DoctorCode AS DoctorCode;



    ELSEIF p_Opt = 'UPDATE' THEN

        START TRANSACTION;



        UPDATE Master_Doctor_Header

        SET

            DoctorName         = p_DoctorName,

            Gender             = p_Gender,

            DateOfBirth        = p_DateOfBirth,

            Mobile             = p_Mobile,

            AlternateMobile    = p_AlternateMobile,

            Email              = p_Email,

            Address1           = p_Address1,

            Address2           = p_Address2,

            City               = p_City,

            State              = p_State,

            Country            = p_Country,

            PostalCode         = p_PostalCode,

            Status             = p_Status,

            Remarks            = p_Remarks,

            ModifiedDate       = CURRENT_TIMESTAMP,

            ModifiedBy         = p_ModifiedBy

        WHERE DoctorId = p_DoctorId AND IsDeleted = 0;



        UPDATE Master_DoctorProfessional_Detail

        SET

            Qualification      = p_Qualification,

            Specialization     = p_Specialization,

            HospitalName       = p_HospitalName,

            BranchName         = p_BranchName,

            DepartmentName     = p_DepartmentName,

            Designation        = p_Designation,

            Experience         = p_Experience,

            Languages          = p_Languages,

            JoiningDate        = p_JoiningDate

        WHERE DoctorId = p_DoctorId;



        UPDATE Master_DoctorConsultation_Detail

        SET

            ConsultationFee     = p_ConsultationFee,

            FollowUpFee         = p_FollowUpFee,

            EmergencyFee        = p_EmergencyFee,

            TeleConsultationFee = p_TeleConsultationFee,

            OpDuration          = p_OpDuration,

            MaxPatients         = p_MaxPatients,

            AllowOnlineBooking  = p_AllowOnlineBooking

        WHERE DoctorId = p_DoctorId;



        UPDATE Master_DoctorSchedule_Detail

        SET

            AvailableDays       = p_AvailableDays,

            FromTime            = p_FromTime,

            ToTime              = p_ToTime,

            BreakFrom           = p_BreakFrom,

            BreakTo             = p_BreakTo,

            SlotDuration        = p_SlotDuration,

            AvailableEmergency  = p_AvailableEmergency,

            AvailableTele       = p_AvailableTele

        WHERE DoctorId = p_DoctorId;



        INSERT INTO Master_DoctorDocument_Detail (

            DoctorId, DoctorPhoto, SignatureImage, DigitalSignature, RegistrationCertificate

        ) VALUES (

            p_DoctorId, p_DoctorPhoto, p_SignatureImage, p_DigitalSignature, p_RegistrationCertificate

        )

        ON DUPLICATE KEY UPDATE 

            DoctorPhoto = VALUES(DoctorPhoto),

            SignatureImage = VALUES(SignatureImage),

            DigitalSignature = VALUES(DigitalSignature),

            RegistrationCertificate = VALUES(RegistrationCertificate);



        COMMIT;



        SELECT ROW_COUNT() AS AffectedRows;



    ELSEIF p_Opt = 'DELETE' THEN

        UPDATE Master_Doctor_Header

        SET

            IsDeleted    = 1,

            Status       = 'Inactive',

            ModifiedDate = CURRENT_TIMESTAMP

        WHERE DoctorId = p_DoctorId;

        

        SELECT ROW_COUNT() AS AffectedRows;



    END IF;



END
